* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.5;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 22px;
}

header {
    background-color: #0e3959;
    color: white;
    padding: 20px 0;
    position: sticky;
    top: 0;
    z-index: 5000;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 25px;
}

nav a{
    color: white;
    text-decoration: none;
    font-weight: 500; 
}

#home{    
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    overflow: hidden;
    position: relative;
}

.bg-video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
    filter: brightness(60%);
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
}
.home-content{
    position: relative;
    z-index: 3;
    max-width: 800px;
    text-align: center;
}

.home-content h2{
    font-size: 3rem;
    margin-bottom: 15px;
}

.home-content p{
    font-size: 1.2rem;
    margin-bottom: 25px;
}

.home-content .btn{
    padding: 12px 25px;
    background-color: #ffca25;
    color: #0e3959;
    border-radius: 5px;
    text-decoration: none;
    font-weight: 600;
    transition: 0.3s;
}

section{
    width: 100%;
    display: flex;
    justify-content: center;
}

section .container{
    width: 100%;
    max-width: 1200px;
    padding: 0 20px;
}

#destinations{
    padding: 80px 0;
    background-color: #fdfdfd;
    text-align: center;
}

#destinations h2{
    font-size: 2.2rem;
    margin-bottom: 40px;
    color: #222;
    text-decoration: underline;
}

.destinations-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap: 25px;
    justify-content: center;
}

.destinations-card{
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s ease;
}

.destinations-card img{
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.destinations-card h3{
    padding: 15px;
    font-size: 1.4rem;
    color: #333;
    background: fff;
}

.destinations-card:hover{
    transform: translateY(-7px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

#packages{
    padding: 80px 0;
    background-color: #f4f4f4;
    text-align: center;
}

#packages h2{
    font-size: 2.2rem;
    margin-bottom: 40px;
    color: #222;
    text-decoration: underline;
}

.packages-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 25px;
    justify-content: center;
}

.package{
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s ease;
}

.package img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.package p{
    padding: 10px 10px;
    color: #333;
    font-size: 1rem;
}

.package h3{
    font-size: 1.2rem;
    color: #0e3959;
    margin: 10px 0;
}

.package:hover{
    transform: translateY(-7px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.package button{
    padding: 12px 20px;
    background: #0e3959;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
    transition: transform 0.3s ease, transform 0.3s ease;
    margin-bottom: 17px;
}

.package button:hover{
    background-color: #ffca25;
    color: #0e3959;
    transform: scale(1);
}

#testimonials{
    padding: 80px 0;
}

#testimonials h2{
    font-size: 2rem;
    margin-bottom: 40px;
    color: #0e3959;
    text-decoration: underline;
    text-align: center;
}

.testimonials-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap: 25px;
}

.testimonial {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 25px;
    text-align: center;
}

.testimonial i {
    margin-bottom: 12px;
    color: #ffca28;
}

.testimonial p {
    font-style: italic;
    margin-bottom: 10px;
}

.testimonial h4 {
    color: #0e3959;
    margin-bottom: 10px;
}

#book{
    padding: 60px 0;
    background-color: #fdfdfd;
    text-align: center;
}

#book h2{
    font-size: 2rem;
    margin-bottom: 30px;
    color: #0e3959;
    text-align: center;
    text-decoration: underline;
}

#book p{
    text-align: center;
    margin-bottom: 10px;
}

form{
    max-width: 600px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    padding: 30px;
    background: #fff;
}

form input, form select, form textarea{
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button{
    padding: 12px 20px;
    background: #0e3959;
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

form button:hover{
    background-color: #ffca25;
    color: #0e3959;
}

footer iframe{
    width: 100%;
    height: 300px;
    border: none;

}
footer h4{
    margin-top: 20px;
    margin-bottom: 10px;
    color: #0e3959;
}

footer .social-media{
    margin-bottom: 15px;
}

footer .social-media a{
    color: #0e3959;
    margin: 0 10px;
    font-size: 1.5rem;
    transition: color 0.3s ease;
}

footer p{
    text-align: center;
    margin-top: 15px;
    color: #666;
}